@mixin ring {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 14px;
    height: 14px;
    left: -9px;
}
.banner-1 {
    margin-bottom: 54px;
}
.add-new-btn {
    margin-right: 7px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    i {
        margin-right: 12px
    }
}
.main-select {
    padding: 10.5px 44px 9.5px 16px ;
}
.btn.btn-primary:hover, .btn.bg-white:hover {
    color: $primary !important;
    background-color: white !important;
    border: 1px solid $primary;
}
.card {
    margin-bottom: 24px;
    .card-title {
        font-weight: $font-weight-medium;
        line-height: 25px;
    }
    .card-subtitle {
        font-size: 13px;
        color: $gray-600;  
    }
    i {
        font-size: 6px;
    }
    .monthly-revenue {
        color: #9fb8ef;
    }
    .text-muted {
        line-height: 13px;
    }
    .budget {
        color: $gray-800;
    }
    .clock-p {
        margin-bottom: 27px;
        margin-top: 9px;
        display: flex;
        align-items: center;
    }
    .eliipsis {
        color: #d3dde2;
        &:hover {
            color: $cyan;
        }
    }
    @include media-breakpoint-down(md){
        .border-md-end-0.border-end {
            border-right: 0px solid #ecf0f2!important;
        }
    }
    .chart-icon {
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 10px);
    }
    .chart-icon2 {
        position: absolute;
        top: calc(50% - 17px);
        left: calc(50% - -5px);
    }
    .activity-box {
        .activity {
            position: relative;
            border-left: 3px solid #ecf0f2;
            margin-left: 19px;
            padding-left: 25px;
            
            .ring-primary {
                border: 3px solid $primary;
                @include ring;   
            }
            .ring-success {
                border: 3px solid $success;
                @include ring;   
            }
            .ring-danger {
                border: 3px solid $danger;
                @include ring;   
            }
            .ring-warning {
                border: 3px solid $warning;
                @include ring;   
            }
            .ring-cyan {
                border: 3px solid $cyan;
                @include ring;   
            }
            p {
                line-height: 16px;
                margin-bottom: 30px;
            }
        }
    }
    .gap-inside-card {
        margin: 13px 0;
    }
    .img-radius {
        border-radius: 10px;
    }
    .date-color {
        color: $gray-900;
    }
    .transaction-box {
        padding: 13px 0;
    }
    &.john-box {
        background-color: #e6f4ff;
        background: url(../images/download-bg.png) no-repeat center right;
        background-size: cover;
        .card-body div{
            padding: 5px 11px;
            margin-bottom: 28px;
        }   
    }
    &.earning-box {
        background: url(../images/download-bg2.png) no-repeat top right;
        .card-body div{
            // padding-left: 10px;
        }   
    }
}
  
.table {
    th:first-child {
        width: 245px;
    }
    th:nth-child(2) {
        width: 240px;
    }
    th:nth-child(3) {
        width: 130px;
    }
}
.products-perfomance-table {
    table {
        tr {
            td {
                padding: 18px 2px;
            }
            td:nth-child(1) {
                width: 145px;
            }
            td:nth-child(2) {
                width: 32%;
                @include media-breakpoint-down(md) {
                    padding: 18px 10px;
                }
            }
            td:nth-child(3) {
                width: 21.4%;
                padding: 15px 36px 15px 2px;
            }
            td:nth-child(4) {
                width: 19.49%;
            }
            td:nth-child(5) {
                width: 80px;
                @include media-breakpoint-down(md) {
                    padding: 18px 10px;
                }
            }
        }
        tr:last-child {
            td {
                padding-bottom: 7px;
            }
        }
    }
}
  