// font-weight
$font-weight-medium:            500 !default;

// header
$header-height: 96px;
$topbar-navlink-padding: 0 10px;
$navbar-collapse-padding: 0 19px 0 27px;

// sidebar
$sidebar-width-full: 259px;
