.top-navbar {
  // position: fixed;
  
  width: 100%;
  z-index: 50;
  background-color: $white;
  .navbar {
    line-height: $header-height;
    height: $header-height;
    padding: 0;
    .navbar-header {
      @include media-breakpoint-up(lg) {
        width: $sidebar-width-full;
      }
      border-right: 1px solid #ecf0f2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar-brand {
        padding: 0;
        line-height: $header-height;
        height: $header-height;
        margin-left: 27px;
        display: flex;
        // align-items: center;
        .logo-text {
          span {
            color: $gray-800;
            font-weight: $font-weight-bold;
            margin-left: 13px;
            font-size: 24px;
          }
        }
      }
    }
    .navbar-collapse {
      padding: $navbar-collapse-padding;
      .navbar-nav {
        flex-direction: row;
        height: $header-height;
        line-height: $header-height;
        background-color: $white;
        .dropdown-menu {
          position: absolute;
          line-height: 2;
        }
        .nav-item > .nav-link {
          i {
            color: $gray-700;
            font-size: 24px;
          }
          padding: $topbar-navlink-padding;
        }
      }
      .navbar-nav:nth-child(2) {
        .nav-item > .nav-link {
          padding: 0 13px;
          i {
            font-size: 25px;
          }
        }
      }
    }
  }
}


.top-navbar {
  .navbar {
    .navbar-header {
      @include media-breakpoint-down(md) {
        // width: 60px;
        border-right: none;
      }
      .navbar-brand {
        @include media-breakpoint-down(lg) {
          margin: 0 23.5px;
        }
        .logo-text {
          @include media-breakpoint-between(md,lg) {
            display: none;
          }
        }
      }
    }
    .navbar-collapse {
      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
    }
  }
}
.user-name {
  font-weight: $font-weight-bold;
  color: $gray-800;
  margin-right: 12px;
}
.nav-search-bar {
  top: 85px;
  box-shadow: 0px 1px 3px 0px rgb(29 26 27 / 20%);
  border-radius: 25px;
  left: 0;
  margin: 0 3%;
  width: 94%;
}
.search-input-height {
  height: 50px;
}
.nav-dropdown {
  font-size: 16px;
}