@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet';

// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f1f9ff !default; //
$gray-300: #ecf0f2 !default; //
$gray-400: #bcc3d3 !default; //
$gray-500: #777e89 !default; //
$gray-600: #99abb4 !default; //
$gray-700: #949db2 !default; //
$gray-800: #11142d !default; //
$gray-900: #4a4b59 !default; //
$black: $gray-800 !default; //
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #1e4db7 !default; //
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #fc4b6c !default;
$orange: #fd7e14 !default;
$yellow: #fec90f !default; //
$green: #39cb7f !default;
$teal: #20c997 !default;
$cyan: #1a9bfc !default;
$light-gray: #e7e9f0 !default; //
$common: $gray-500; //
$black: $gray-800 !default;
$light-green: #ebfaf2;
$light-red: #fdf3f5;
$light-cyan: #edf6fc;
$light-yellow: #fdf8e8;
$light-blue:#ebf0fc;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "light-gray": $light-gray,
  "common": $gray-500,
  "light-green": $light-green,
  "light-red": $light-red,
  "light-cyan": $light-cyan,
  "light-yellow":$light-yellow,
  "light-blue":$light-blue,
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $blue !default;
$secondary: #a7e3f4 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "cyan": $cyan,
  "light-gray": $light-gray,
  "common": $gray-500,
  "black": $gray-800,
  "light-green": $light-green,
  "light-red": $light-red,
  "light-cyan": $light-cyan,
  "light-yellow":$light-yellow,
  "light-blue":$light-blue,
  "gray": $gray-600,
) !default;
// scss-docs-end theme-colors-map

// body
$body-color: $gray-500 !default;
$font-family-sans-serif:'DM Sans', sans-serif;


// paragraph
$paragraph-margin-bottom:   0 !default;

// font-weight
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// heading
$headings-color: $gray-800 !default;
$headings-font-weight: $font-weight-bold !default;
$headings-margin-bottom:0 !default;

// $h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size: 30px !default;
$h3-font-size: 21px !default;
$h4-font-size: 18px !default;
$h5-font-size:                16px !default;
$h6-font-size:                12px !default;

// border
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;

// font-size
$font-sizes: (
  1: 36px,
  2: 30px, 
  3: 24px, //
  4: 21px, //
  5: 18px, //
  6: 14px, //
  7: 13px, //
  8: 11px, //
  9: 10px //
);

// button
$btn-padding-y: 8.5px !default;
$btn-padding-x: 15px !default;
$btn-font-size: 15px !default;
$btn-border-radius: 5px !default;
$input-btn-focus-box-shadow:    none !default;
$input-btn-focus-width:         0 !default;

// form-select
$form-select-font-size: 14px !default;
$form-select-bg: $gray-200 !default;
$form-select-font-weight: $font-weight-normal !default;
$form-select-border-width: 0 !default;
$form-select-border-radius: 5px !default;
$form-select-indicator-color: $gray-700 !default;

// card
$card-border-radius:                20px !default;
$card-border-color:                 $gray-300 !default;
$card-spacer-y:                     30px !default;
$card-spacer-x:                     30px !default;

// link
$link-color:                              $gray-800 !default;
$link-decoration:                         none !default;
$link-hover-color:                        $cyan !default;

// table
$table-cell-padding-y:        0.9375rem !default;
$table-cell-padding-x:        0.125rem !default;
$table-group-separator-color:  #ecf0f2 !default;
$table-border-color: #eaeef2 !default;

// badge
$badge-font-size:                   12px !default;
$badge-font-weight:                 $font-weight-normal !default;
$badge-color:                       $white !default;
$badge-padding-y:                   5.5px !default;
$badge-padding-x:                   14px !default;
$badge-border-radius:               6px !default;